[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "civetweb"]
	path = civetweb
	url = https://github.com/sunsetbrew/civetweb
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/kbranigan/cJSON
[submodule "bcrypt"]
	path = bcrypt
	url = https://github.com/molip/bcrypt
[submodule "PicoSHA2"]
	path = PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
