[submodule "civetweb"]
	path = civetweb
url=https://github.com/bel2125/civetweb
[submodule "bcrypt"]
	path = bcrypt
	url = https://github.com/molip/bcrypt
[submodule "PicoSHA2"]
	path = PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
[submodule "libKernel"]
	path = libKernel
	url = https://github.com/molip/libKernel